[submodule "inspect_evals"]
	path = inspect_evals
	url = https://github.com/UKGovernmentBEIS/inspect_evals.git

[submodule "inspect_sandboxes"]
	path = inspect_sandboxes
	url = https://github.com/meridianlabs-ai/inspect_sandboxes
